.title {
    margin: 20px;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
}

.select {
    padding: 10px;
    margin-right: 20px;
}

.filter {
    margin: 20px;
}

.filterText {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

@media screen and (max-width: 380px) {

    .fitler {
        width: 0px 20px;
        display: flex;
        flex-direction: column;
    }

    .filterText {
        margin-right: 0px;
    }

    .select {
        margin: 10px 0px;
    }
    
}